<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Get</h1>
        <form action="/get" method="get">
            <div>
                <span>ID : </span>
                <input type="text" name="id" value="" />
            </div>
            <div>
                <span>PW : </span>
                <input type="password" name="pwd" value="" />
            </div>
            <div>
                <button type="submit">제출</button>
            </div>
        </form>
        <h1>Post</h1>
        <form action="/post" method="post">
            <div>
                <span>ID : </span>
                <input type="text" name="id" value="" />
            </div>
            <div>
                <span>PW : </span>
                <input type="password" name="pwd" value="" />
            </div>
            <div>
                <button type="submit">제출</button>
            </div>
        </form>
    </body>
</html>